body 
{
    background-image: linear-gradient(90deg,#E3DED0,#749C9B,#2B3842);
    background-repeat: no-repeat;
    overflow-x: hidden;
    height: 150vw;
    font-family: "Solway", sans-serif;
    

}
.header
{
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.h-right_author
{
    display: flex;
    align-items: center;
    margin-right: 2vw;
}
.h-right_author button
{
    color: #749C9B;
    margin-right: 2vw;
}
#staffBtn:active
{
    color: #0D6FB6;
}
.main_container
{
    margin:  0 8vw;
    
}
.contentMag
{
    display: inline-flex;
    justify-content: space-between;
}
.manage_container
{
    /* visibility: hidden; */
    width: 55vw;
    height: 100vh;
    display: flex ;
}

.manage
{
    display: flexbox;
    background-color: #65918E;
    width: 30vw;    
    height: fit-content;
    border-radius: 20px;
    margin-top: 9vw;
   
}
.manage_container ul li
{
    list-style-type: none;
}
.manage_header
{
    margin-bottom: 3vw;
    color:#E3DED0;
    font-size: 2.2em;
}

/* #CusInforContainer, #StaffInforContainer, #AccountContainer, #ownInfor, #ProductContaine
{

    position: fixed;
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); 
    z-index: 2;
    cursor: pointer; 
} */
.manage_infor_main 
{
    transform:translateX(-8vw);
    margin-top: 3vw;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: #65918E;
    ul li 
        {
        list-style-type: none;
        }
}

.h-center
{
    width: 60vw;
    margin-left: 40vw;
}
.manage_infor_title
{
    transform: translateY(2vh);
    margin-bottom: 2vh;
    color:#E3DED0;
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: 600;
}

.mng 
{
    text-align:left;
    display: flex;
    align-items: center;
    margin-bottom: 1.3vw;
    width: 23vw;
    padding: 1.7vw;
    font-size: 0.8em;
    background-color: #F5EBCF;
    color:#647475;
    i
    {
        margin: 0 1vw;
    }
}
.manage_main
{
    margin: 3vw 3vw;
}
.manage_btn
{
    transform: translateY(7vw);
    display: flex;
    justify-content: space-between;
}
.inforContent
{
    display: flex;
    align-items: center;
}
.cusInfor
{
    display: flex;
    margin-left: 3vw;
    
}
.Exit
{
    margin-left: 95vw;
    transform:translateY(-2vw);
    
}
.Exit:hover
{
    color: red;
}
/* .inforContent
{
    
} */
.form-control
{
    text-align: left;
    margin: 0;
    border-radius: 0;
    border: 0;
    background-color: rgba(255, 255, 255, 0.5); 
    width: 13vw;
    height: 7vh;

}
#search, #P_search, #Asearch, #Csearch, #S_search
{
    width: 20vw;
    
}
.editBtn
{
    padding: 8px;
    margin-left: 1vw;
    
}
.container
{
    margin-top: 1vw;
    text-align: left;
    margin-left: 4vw;
}
.mb-3
{
    display: flex;
    width: 25vw;
    align-items: center;
    justify-content: space-between;
}
#changeInfor, #staffChangeInfor, #changeAccount, #productChangeInfor
{
    position:relative;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3) ;
}
.col-md-6
{
    background-color: #2B3842;
    width: 40vw;
    height: 70vh;
    form
    {
        margin-left: 7vw;
    }
    input
    {
        text-align: left;
        margin: 1vw;
        border-radius: 10px;
        border: 0;
        background-color: rgba(255, 255, 255, 0.5); 
        width: 13vw;
        height: 5vh;
    }
}

.changeImg
{
    img
    {
        width: 10vw;
        height: 10vw;
        margin: 3vw;
    }
    .addImg
    {
        transform:translateX(-12vw);
    }
}
.changeProductContent
{
    position:relative;
    bottom: 15vw;
    left: 25vw;
}
.User
{
    text-align: center;
}
.p, .product
{
    display: flex;
}
.orderContent
{
    
    margin-left: 5vw;
}
.productContent, .inforContent, .productInforContent, .orderContent, .accountContent
{
    display: flex;
    align-items: center;
    margin-top: 2vw;
    justify-content: space-evenly;
    input
    {
        width: 10vw;
        height: 2.5vw;
    }
    .editBtn
    {
        width: 4vw;
        border-radius: 10px;
    }
}
.addBtn
{
    margin-top: 100%;
    button
    {
        width: 4vw;
        border-radius: 10px;
    }
}
.Save, .Cancel
{
    background-color: #F5EBCF;
    width: 5.3vw;
    height: 2.3vw;
    border-radius: 20px;
    margin-top: 2vw;
    margin-left: 10vw;
    text-transform: uppercase;
}
