body
{
    background-image: linear-gradient(90deg,#E3DED0,#749C9B,#2B3842);
    background-repeat: no-repeat;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    width: 100vw;
    height: 100vh;

}
.background
{
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);  
}
.log_header
{
    display: inline-flex;
    align-items: center;
    margin: 1vw;
    span
    {
        margin-left: 1vw;
        color: black;
        font-size: larger;
    }
}
.login-container, .payment-container
{
    position: relative;
    top: 7vw;
    margin-left: 30vw;
}
.login_header, .payment_header
{
    display: flex;
}
.content-container
{
    background-color: #2F4656;
    width: 40vw;
    height: 80vh;
    color: #FFFF;
    input
    {
        border-radius: 20px;
        padding: 8px;
        background-color: rgba(0, 0, 0, 0.1);  
        border: 0px;
        
    }
}
.content, .regis-form
{
    background-color: rgba(255, 255, 255, 0.1); 
    width: 30vw;
    height: 60vh;
    margin-left: 5vw;
    margin-top: 1vw;
}
.Login-form, .Payment-form
{
    margin: 0 3vw;
    .input
    {
        width: 25vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .forgot, #create
    {
        font-size:smaller;
        margin-left: 16vw;
        text-decoration: underline;
    }
}
.remember-me
{
    margin-top: 1vw;
}
#create
{
    position: relative;
    top: 2vw;
    cursor: pointer;
    
}
#Login-button, #Register-button
{
    background-color: #F5EBCF;
    padding: 10px;
    border-radius: 50px;
    margin-top: 2vw;
    margin-left: 10vw;
    text-transform: uppercase;
    
}
.login-button button, .register-button button, .payment-button button
{
    text-transform: uppercase;
    font-size: larger;
    font-weight: 600;   
    margin-left: 12vw;
    background: none;
    color:#FFFF;
    margin-top: 2vw;
    
}

.input, .password-input
{
    margin-top: 2vw;
    
}
.regis-form
{
    display: none;
    position: relative;
    width: 30vw;
    bottom: 23vw;
    left: 30vw;
    color:#FFFF;

}
.reg_input
{
    margin-left: 3vw;
    margin-top: 3vw;
    width: 25vw;
}
.reg_input form
{
    display: flex;
    justify-content: space-between;
}
#reg-username, #reg-password, #reg-password-verify
{
    border-radius: 20px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.1);  
    border: 0px;
}
#Register-button
{
    margin-left: 17vw;
}
