body
{
    background-image: linear-gradient(90deg,#E3DED0,#749C9B,#2B3842);
    background-repeat: no-repeat;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    width: 100vw;
    height: 100vh;

}

.login-container
{
    transform: translateY(10vw);
    margin-left: 40vw;
   
}
.login_header
{
    display: flex;
    
}
