<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <!-- import css -->
    <link rel="stylesheet" href="../template/css/homePage.css">
    <link rel="stylesheet" href="../template/css/adminManagement.css">
    
</head>
<body>
    <div class="header">
        <div class="h-top">
            <div class="logo">
                <img src="../template/src-file/img/Green Light Home Shop About Contact-Photoroom.jpg" style="width:70px;height:auto;"alt="">
                <h1>Feel n Chill</h1>
            </div>
        </div>
        <div class="h-right_author">
            <button type="submit" id = "login" onclick="f_login()">                
                Tài khoản
            </button>
            <button type="submit" id = "staffBtn" class="btnMag" onclick="m_manage()">
                Quản lý
            </button>
            <button type="submit" id = "login" onclick="f_login()">               
                Đăng xuất
            </button>
            
        </div>
    </div>
    <div class="main_container">
        <div class="manage_btn">
            <button type="submit" id = "mag">
                <h3>Quản lý</h3>
            </button>   
            <button type="submit" id = "mag" style="margin-right: 18vw;" onclick="f_login()">
                <h3>Thống kê</h3>
            </button>
        </div>
        <div class="contentMag">
            <div class="manage_container">
            <div class="manage">
                <div class="manage_main">
                    <ul>
                        <li><button class="mng" onclick = "on('AccountContainer')">
                            <i class="fa-solid fa-user"></i>
                            Quản lý tài khoản</button>
                        </li>
                        <li><button class="mng" onclick ="on('ProductContainer')">
                            <i class="fa-solid fa-guitar"></i>
                            Quản lý sản phẩm</button>
                        </li>
                        <li><button class="mng">
                            <i class="fa-solid fa-cart-shopping"></i>
                            Quản lý đơn hàng</button>
                        </li>
                        <li><button class="mng" onclick ="on('CusInforContainer')">
                            <i class="fa-solid fa-circle-info"></i>
                            Quản lý thông tin khách hàng</button>
                        </li>
                        <li><button class="mng" onclick ="on('StaffInforContainer')">
                            <i class="fa-solid fa-clipboard-user"></i>
                            Quản lý nhân viên</button>
                        </li>
                        <li><button class="mng">
                            <i class="fa-solid fa-file-invoice-dollar"></i>
                            Quản lý nhập hàng</button>
                        </li>
                    </ul>
                </div>
                <div class="manage_bottom"></div>
            </div>
        </div>
        <div class="manage_container">
            <div class="manage">
                <div class="manage_main">
                    <ul>
                        <li><button class="mng" >
                            <i class="fa-solid fa-user"></i>
                            Thống kê doanh số</button>
                        </li>
                        <li><button class="mng">
                            <i class="fa-solid fa-comment"></i>
                            Thống kê ý kiến khách hàng</button>
                        </li>
                    </ul>
                </div>
                <div class="manage_bottom"></div>
            </div>
        </div>
        </div>
        
        <div id="CusInforContainer">
                <div class="manage_infor_main">
                    <div class="manage_infor_title">CUSTOMER INFORMATION MANAGEMENT</div>
                    <div class="inforHeader">
                        <div class="Exit" onclick = "off('CusInforContainer')"><i class="fa-solid fa-x"></i></div>
                        <div class="h-center">
                            <search>
                                <form action="">
                                    <label for="search"></label>
                                    <input type="search" id="search" name="" placeholder="  Typing..." />
                                    <button id = "btn-search"type="submit">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                        Search
                                    </button>
                                </form>
                              </search>
                        </div>
                    </div>
                    <div class="inforContent">
                        <table>
                            <tr>
                              <th>Tên đăng nhập</th>
                              <th>Mật khẩu</th>
                              <th>Họ tên</th>
                              <th>Địa chỉ</th>
                              <th>Số điện thoại</th>
                              <th>Ngày sinh</th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name="username" class="form-control" id="userName">
                                </td>
                                <td>
                                    <input type="password" name="password" class="form-control" id="password" >
                                </td>
                                <td>
                                    <input type="text" name="name" class="form-control" id="fullName">
                                </td>
                                <td>
                                    <input type="text" name="address" class="form-control" id="Address">
                                </td>
                                <td>
                                    <input type="text" name="phone-number" class="form-control" id="Phone">
                                </td>
                                <td>
                                    <input type="date" name="date-of-birth" class="form-control" id="DateOfBirth">
                                </td>
                            </tr>
                          </table>
                        <div class="cusInfor">
                        </div>
                        <button class="editBtn" onclick ="on('changeInfor')">Edit</button>
                    </div>
                    <div class="addBtn">
                        <button>Add</button>
                    </div>
                    <div id="changeInfor" style ="display: none" >
                        <div class="col-md-6">
                            <div class="row">
                                <!-- <h2>Create New User</h2> -->
                                <form method="POST">
                                    <div class="mb-3">
                                        <label for="" class="form-label">User Name</label> 
                                        <input type="text" name="username" class="form-control" id="changeUserName">
                                    </div>
                                    <div class="mb-3">
                                        <label for="" class="form-label">Password</label> 
                                        <input type="password" name="password" class="form-control" id="changePassword">
                                            
                                    </div>
                                    <div class="mb-3">
                                        <label for="" class="form-label">Full Name</label> 
                                        <input type="text" name="name" class="form-control" id="changeFullName">
                                            
                                    </div>
                                    <div class="mb-3">
                                        <label for="" class="form-label">Address</label> 
                                        <input type="text" name="address" class="form-control" id="changeAddress">
                                    </div>
                                    <div class="mb-3">
                                        <label for="" class="form-label">Phone Number</label> 
                                        <input type="text" name="phone-number" class="form-control" id="changePhone">
                                            
                                    </div>
                                    <div class="mb-3">
                                        <label for="" class="form-label">Date of Birth</label> 
                                        <input type="date" name="date-of-birth" class="form-control" id="ChangeBirthDay">
                                    </div>
                                    <div class="CusInforBtn">
                                        <button type="submit" class="Save">Submit</button>
                                        <button type="submit" class="Cancel">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="manage_bottom"></div>
        </div>
        <div id="StaffInforContainer">
                <div class="manage_infor_main">
                    <div class="manage_infor_title">STAFF INFORMATION MANAGEMENT</div>
                    <div class="inforHeader">
                        <!-- <div class="sort">
                            <select name="example">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="-">Other</option>
                            </select>
                        </div> -->
                        <div class="h-center">
                            <search>
                                <form action="">
                                    <label for="search"></label>
                                    <input type="search" id="S_search" name="" placeholder="  Typing..." />
                                  
                                    <button id = "btn-search"type="submit">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                        Search
                                    </button>
                                </form>
                              </search>
                        </div>
                    </div>
                    <div class="inforContent">
                          <div class="staffInfor">
                            <span id="ordinal"></span>
                            <ul>
                                <li id ="name"></li>
                                <li id = "phone"></li>
                            </ul>
                          </div>
                    </div>
                </div>
                <div class="manage_bottom"></div>
        </div>
        <div id="AccountContainer" onclick ="off('AccountContainer')">
                <div class="manage_infor_main">
                    <div class="manage_infor_title">ACCOUNT MANAGEMENT</div>
                    <div class="inforHeader">
                        <!-- <div class="sort">
                            <select name="example">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="-">Other</option>
                            </select>
                        </div> -->
                        <div class="h-center">
                            <search>
                                <form action="">
                                    <label for="search"></label>
                                    <input type="search" id="search" name="" placeholder="  Typing..." />
                                  
                                    <button id = "btn-search"type="submit">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                        Search
                                    </button>
                                </form>
                              </search>
                        </div>
                    </div>
                    <div class="inforContent">
                          <div class="staffInfor">
                            <span id="ordinal">1.</span>
                            <ul>
                                <li id ="name">Lilyy</li>
                                <li id = "phone"></li>
                            </ul>
                          </div>
                    </div>
                </div>
                <div class="manage_bottom"></div>
        </div>
        <div id="ProductContainer">
                <div class="manage_infor_main">
                    <div class="manage_infor_title">PRODUCT MANAGEMENT</div>
                    <div class="inforHeader">
                        <div class="h_sort">
                            <label for="productSort">Lọc danh sách theo</label>
                            <select name="productSort" id ="productSort">
                                <option value="">Loại sản phẩm</option>
                                <option value="">Dòng sản phẩm</option>
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="h-center">
                            <search>
                                <form action="">
                                    <label for="search"></label>
                                    <input type="search" id="search" name="" placeholder="  Typing..." />
                                    <button id = "btn-search"type="submit">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                        Search
                                    </button>
                                </form>
                              </search>
                        </div>
                    </div>
                    <div class="productContent">
                          
                    </div>
                </div>
                <div class="manage_bottom"></div>
        </div>
    </div>
    

    <!-- import js -->
    <script src="/webapp/template/js/adminManagement.js"></script>
</body>
</html>