<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <!-- import css -->
    <link rel="stylesheet" href="../template/css/homePage.css">
    <link rel="stylesheet" href="../template/css/adminManagement.css">
    
</head>
<body>
    <div class="header">
        <div class="h-top">
            <div class="logo">
                <img src="../template/src-file/img/Green Light Home Shop About Contact-Photoroom.jpg" style="width:70px;height:auto;"alt="">
                <h1>Feel n Chill</h1>
            </div>
        </div>
        <div class="h-right_author">
            <button type="submit" id = "login" onclick="f_login()">                
                Account
            </button>
            <button type="submit" id = "staffBtn" class="btnMag" onclick="m_manage()">
                Management
            </button>
            <button type="submit" id = "login" onclick="f_login()">               
                Logout
            </button>
            
        </div>
    </div>
    <div class="main_container">
        <div class="manage_btn">
            <button type="submit" id = "mag">
                <h3>Management</h3>
            </button>   
            <button type="submit" id = "mag" style="margin-right: 18vw;" onclick="f_login()">
                <h3>Statistics</h3>
            </button>
        </div>
        <div class="contentMag">
            <div class="manage_container">
            <div class="manage">
                <div class="manage_main">
                    <ul>
                        <li><button class="mng" onclick = "on('AccountContainer')">
                            <i class="fa-solid fa-user"></i>
                            Account Management</button>
                        </li>
                        <li><button class="mng">
                            <i class="fa-solid fa-guitar"></i>
                            Product Management</button>
                        </li>
                        <li><button class="mng">
                            <i class="fa-solid fa-cart-shopping"></i>
                            Order Management</button>
                        </li>
                        <li><button class="mng" onclick ="on('CusInforContainer')">
                            <i class="fa-solid fa-circle-info"></i>
                            Customer Information Management</button>
                        </li>
                        <li><button class="mng" onclick ="on('StaffInforContainer')">
                            <i class="fa-solid fa-clipboard-user"></i>
                            Staff Management</button>
                        </li>
                        <li><button class="mng">
                            <i class="fa-solid fa-file-invoice-dollar"></i>
                            Receipt Management</button>
                        </li>
                    </ul>
                </div>
                <div class="manage_bottom"></div>
            </div>
        </div>
        <div class="manage_container">
            <div class="manage">
                <div class="manage_main">
                    <ul>
                        <li><button class="mng" >
                            <i class="fa-solid fa-user"></i>
                            Sale Statitics</button>
                        </li>
                        <li><button class="mng">
                            <i class="fa-solid fa-guitar"></i>
                            Feedback Statitics</button>
                        </li>
                    </ul>
                </div>
                <div class="manage_bottom"></div>
            </div>
        </div>
        </div>
        
        <div id="CusInforContainer" onclick ="off('CusInforContainer')">
                <div class="manage_infor_main">
                    <div class="manage_infor_title">CUSTOMER INFORMATION MANAGEMENT</div>
                    <div class="inforHeader">
                        <!-- <div class="sort">
                            <select name="example">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="-">Other</option>
                            </select>
                        </div> -->
                        <div class="h-center">
                            <search>
                                <form action="">
                                    <label for="search"></label>
                                    <input type="search" id="search" name="" placeholder="  Typing..." />
                                  
                                    <button id = "btn-search"type="submit">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                        Search
                                    </button>
                                </form>
                              </search>
                        </div>
                    </div>
                    <div class="inforContent">
                          <div class="cusInfor">
                            <span id="ordinal"></span>
                            <ul>
                                <li id ="name"></li>
                                <li id = "phone"></li>
                            </ul>
                          </div>
                    </div>
                </div>
                <div class="manage_bottom"></div>
        </div>
        <div id="StaffInforContainer" onclick ="off('StaffInforContainer')">
                <div class="manage_infor_main">
                    <div class="manage_infor_title">STAFF INFORMATION MANAGEMENT</div>
                    <div class="inforHeader">
                        <!-- <div class="sort">
                            <select name="example">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="-">Other</option>
                            </select>
                        </div> -->
                        <div class="h-center">
                            <search>
                                <form action="">
                                    <label for="search"></label>
                                    <input type="search" id="search" name="" placeholder="  Typing..." />
                                    <button id = "btn-search"type="submit">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                        Search
                                    </button>
                                </form>
                              </search>
                        </div>
                    </div>
                    <div class="inforContent">
                          <div class="staffInfor">
                            <span id="ordinal"></span>
                            <ul>
                                <li id ="name"></li>
                                <li id = "phone"></li>
                            </ul>
                          </div>
                    </div>
                </div>
                <div class="manage_bottom"></div>
        </div>
        
    </div>
    

    <!-- import js -->
    <script src="/webapp/template/js/adminManagement.js"></script>
</body>
</html>